<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Money</title>
    <link rel="icon" href="/R.png" type="image/x-icon">
    <link rel="stylesheet" href="/money-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="headershape"></div>
        <div onmouseover="main()" onmouseout="hide()" class="sidebar" id="sidebar">
            <i onclick="toggleDisplay()" class="fa-solid fa-bars"></i>
            <div id="barList" class="sidebar-list">
                <a href="/dashboard"><div onmouseover="setColor7()" onmouseout="unsetColor7()" class="my-list">
                    <i id="color7" class="fa-solid fa-table-columns"></i>
                    <div>Dashboard</div>
                </div></a>
                <a href="/daily"><div onmouseover="setColor()" onmouseout="unsetColor()" class="my-list">
                    <i id="color" class="fa-solid fa-calendar-day"></i>
                    <div>My Daily</div>
                </div></a>
                <div onmouseover="setColor1()" onmouseout="unsetColor1()" class="my-list">
                    <i id="color1" id="color" class="fa-solid fa-calendar-week"></i>
                    <div>My Weekly</div>
                </div>
                <div onmouseover="setColor2()" onmouseout="unsetColor2()" class="my-list">
                    <i id="color2" id="color" class="fa-solid fa-calendar-days"></i>
                    <div>My Monthly</div>
                </div>
                <a href="/money"><div class="my-list" id="active-sidebar">
                    <i id="color3" id="color" class="fa-solid fa-wallet"></i>
                    <div>My Money</div>
                </div></a>
                <div onmouseover="setColor4()" onmouseout="unsetColor4()" class="my-list">
                    <i id="color4" id="color" class="fa-solid fa-gift"></i>
                    <div>My Reward</div>
                </div>
            </div>
            <div id="account-list" class="sidebar-account">
                <a href="/setting"><div onmouseover="setColor5()" onmouseout="unsetColor5()" class="my-list">
                    <i id="color5" id="color" class="fa-solid fa-gear"></i>
                    <div>Setting</div>
                </div></a>
                <div onclick="confirmLogout()" onmouseover="setColor6()" onmouseout="unsetColor6()" class="my-list">
                    <i id="color6" id="color" class="fa-solid fa-right-from-bracket"></i>
                    <div>Logout</div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="header">
                <div class="header-left">
                    <i id="color" class="fa-solid fa-calendar-day"></i>
                    <div>My Money</div>
                </div>
            </div>
            <div class="content-container">
                <div class="card-container">
                    <div class="card">
                        <div class="header-card">
                            <i class="fa-solid fa-sack-dollar"></i>
                            <div>Balance</div>
                        </div>
                        <div class="balance">
                            <div class="rupiah">Rp</div>
                            <div id="balance"></div>
                            <button id="reset-btn" class="reset-btn">Reset</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header-card">
                            <i class="fa-solid fa-money-bill-transfer"></i>
                            <div>Deposite</div>
                        </div>
                        <div class="deposite">
                            <div class="rupiah">Rp</div>
                            <input id="deposite" class="input-money" type="number" min="1" step="any" />
                            <button id="deposit-button" class="submit-deposite-btn">Submit</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header-card">
                            <i class="fa-solid fa-money-bill-transfer"></i>
                            <div>Withdraw</div>
                        </div>
                        <div class="withdraw">
                            <div class="rupiah">Rp</div>
                            <input id="withdraw" class="input-money" type="number" min="1" step="any" />
                            <button id="withdraw-button" class="submit-withdraw-btn">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="history-container">
                    <div class="header-history">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        <div class="header-history-text">Transaction History</div>
                        <div id="trash-can">
                            <i class="fa-solid fa-trash-can"></i>
                        </div>
                    </div>
                    <div id="history-log" class="history-log">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/money-script.js"></script>
</body>
</html>