<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Image</title>
</head>
<body>
    <div id="imageContainer"></div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Ambil gambar dari server saat halaman dimuat
            fetch('/display', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
                credentials: 'same-origin', // Untuk memastikan session cookie dikirim
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Setelah mendapatkan data URL, set sebagai src gambar
                    const imageContainer = document.getElementById('imageContainer');
                    data.data.forEach(dataUrl => {
                        const imgElement = document.createElement('img');
                        imgElement.src = dataUrl;
                        imgElement.alt = 'File Image';
                        imageContainer.appendChild(imgElement);
                    })
                } else {
                    console.error(data.error);
                }
            })
            .catch(error => console.error('Error fetching image:', error));
        });
    </script>
</body>
</html>